<%= form_with(model: tweet) do |form| %>
    <div class="card text-center" style="width: 45rem">
        <h5 class="card-title pt-2">Crear nuevo tweet</h5>
        <div class="form-group">
            <%= form.text_area(:content, cols: 50, rows: 5) %>
        </div>
        <div class="actions my-2">
            <%= form.submit "Crear nuevo tweet", :class => 'btn btn-primary' %>
        </div>
    </div>
    <% end %>