<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1DA1F2">
    <div class="my-auto mx-4">
        <a class="navbar-brand text-white" href="<%= root_path %>">Inicio</a>
    </div>
    <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary mx-4'  %></li>
        <% else %>
            <li><%= button_to 'Log in', new_user_session_path, :class => 'btn btn-primary mx-4' %></li>
            <li><%= button_to 'Register', new_user_registration_path, :class => 'btn btn-primary mx-4' %></li>
        <% end %>
    </ul>
</nav>